table {
    text-align: left;
    border-collapse: collapse;
}

tr td, tr th {
    padding: 20px 25px;
}

tr {
    border-bottom: 1px solid #E0E0E0;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #E0E0E0;
}

tbody tr:active {
    background-color: #dadada;
}